In [22]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# Preporcesamiento
from sklearn.model_selection import train_test_split
# ML
from sklearn.neighbors import KNeighborsRegressor

In [23]:
data = pd.read_csv('table_reg.csv')

In [24]:
data['lang_1'].fillna(data['lang_1'].mode()[0],inplace = True)

In [25]:
data['lang_2'].fillna(data['lang_2'].mode()[0],inplace = True)

In [26]:
data['lang_3'].fillna(data['lang_3'].mode()[0],inplace = True)

In [27]:
data['lang_4'].fillna(data['lang_4'].mode()[0],inplace = True)

In [28]:
data['avg_temp'].fillna(data['avg_temp'].mode()[0],inplace = True)

In [29]:
data.P_crimines[data.P_crimines == 0] = 380
data.lang_1[data.lang_1 == 0] = 390
data.lang_2[data.lang_2 == 0] = 390
data.lang_3[data.lang_3 == 0] = 390
data.lang_4[data.lang_4 == 0] = 390

<ipython-input-29-4987a7acbbe1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.P_crimines[data.P_crimines == 0] = 380
<ipython-input-29-4987a7acbbe1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.lang_1[data.lang_1 == 0] = 390
<ipython-input-29-4987a7acbbe1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.lang_2[data.lang_2 == 0] = 390
<ipython-input-29-4987a7acbbe1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.lang_3[data.lang_3 == 0] = 390
<ipython-input-29-4987a7acbbe1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.lang_4[data.lang_4 == 0] = 390

In [30]:
data.head(30)

         Dates  P_crimines  lang_1  lang_2  lang_3  lang_4  avg_temp
0   2014-01-06         393   390.0   390.0   390.0   390.0      11.0
1   2014-01-07         376   393.0   390.0   390.0   390.0      12.0
2   2014-01-08         430   376.0   393.0   390.0   390.0      13.0
3   2014-01-09         392   430.0   376.0   393.0   390.0      13.0
4   2014-01-10         465   392.0   430.0   376.0   393.0      12.0
5   2014-01-11         395   465.0   392.0   430.0   376.0      11.0
6   2014-01-12         369   395.0   465.0   392.0   430.0      12.0
7   2014-01-13         380   369.0   395.0   465.0   392.0      14.0
8   2014-01-14         380   390.0   369.0   395.0   465.0      14.0
9   2014-01-15         380   390.0   390.0   369.0   395.0      14.0
10  2014-01-16         380   390.0   390.0   390.0   369.0      14.0
11  2014-01-17         380   390.0   390.0   390.0   390.0      14.0
12  2014-01-18         380   390.0   390.0   390.0   390.0      14.0
13  2014-01-19         380   390.0   390.0   390.0   390.0      14.0
14  2014-01-20         391   390.0   390.0   390.0   390.0      13.0
15  2014-01-21         380   391.0   390.0   390.0   390.0      13.0
16  2014-01-22         420   380.0   391.0   390.0   390.0      13.0
17  2014-01-23         426   420.0   380.0   391.0   390.0      14.0
18  2014-01-24         473   426.0   420.0   380.0   391.0      13.0
19  2014-01-25         465   473.0   426.0   420.0   380.0      14.0
20  2014-01-26         405   465.0   473.0   426.0   420.0      14.0
21  2014-01-27         380   405.0   465.0   473.0   426.0      14.0
22  2014-01-28         380   390.0   405.0   465.0   473.0      14.0
23  2014-01-29         380   390.0   390.0   405.0   465.0      14.0
24  2014-01-30         380   390.0   390.0   390.0   405.0      14.0
25  2014-01-31         380   390.0   390.0   390.0   390.0      14.0
26  2014-02-01         380   390.0   390.0   390.0   390.0      14.0
27  2014-02-02         380   390.0   390.0   390.0   390.0      14.0
28  2014-02-03         393   390.0   390.0   390.0   390.0      11.0
29  2014-02-04         397   393.0   390.0   390.0   390.0      10.0

In [31]:
X_multiple = data.iloc[:, 2:7] # Última columna
print(X_multiple)

     lang_1  lang_2  lang_3  lang_4  avg_temp
0     390.0   390.0   390.0   390.0      11.0
1     393.0   390.0   390.0   390.0      12.0
2     376.0   393.0   390.0   390.0      13.0
3     430.0   376.0   393.0   390.0      13.0
4     392.0   430.0   376.0   393.0      12.0
..      ...     ...     ...     ...       ...
352   426.0   440.0   390.0   390.0      13.0
353   370.0   426.0   440.0   390.0      11.0
354   257.0   370.0   426.0   440.0      11.0
355   409.0   257.0   370.0   426.0       9.0
356   376.0   409.0   257.0   370.0      10.0

[357 rows x 5 columns]

In [32]:
Y_multiple = data.P_crimines
print(Y_multiple)

0      393
1      376
2      430
3      392
4      465
      ...
352    370
353    257
354    409
355    376
356    361
Name: P_crimines, Length: 357, dtype: int64

In [33]:
X_train, X_test, Y_train, Y_test = train_test_split(X_multiple, Y_multiple, test_size=0.2)

In [34]:
#Algoritmo a utilizar
neigh = KNeighborsRegressor(n_neighbors=5)

In [35]:
#Entrenamiento
neigh.fit(X_train, Y_train)

KNeighborsRegressor()

In [36]:
#Predicción 
y_pred_knn = neigh.predict(X_test)

In [37]:
#print(neigh.predict([[465.0,483.0,300.0,428.0,10.0]]))

In [38]:
from sklearn.metrics import (r2_score, mean_squared_error, mean_absolute_error)

In [39]:
print('Linear Regression r**2 % 1.3f' % r2_score(Y_test,y_pred_knn))

Linear Regression r**2  0.027

In [40]:
print('Linear Regression RMSE % 1.3f' %mean_squared_error(Y_test,y_pred_knn, squared=False))

Linear Regression RMSE  30.005

In [41]:
print ("Residuo promedio %.3f" % (abs((Y_test-y_pred_knn)).mean()))

Residuo promedio 17.719

In [42]:
#Para la precisión de nuestro algoritmo 
#Como nos damos cuenta nuestro valor no es muy bueno pues se aleja mucho de 1
print(neigh.score(X_train, Y_train))

0.3717083309380237